/*Configurações de estilo*/
.componente{
  background: #56a3a6;
  padding: 10px;
}
/*Configurações de grid*/
.lista{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lista > .componente{
  display: grid;
  grid-template-columns: 1fr;
}
